@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">The code word is:</h1>
    <br />
    <h1 class="display-4">@Model.CodeWord</h1>
</div>
